/*
 * This is a manifest file that"ll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin"s vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You"re free to add application-wide styles to this file and they"ll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/*
 *  Lato font
 */

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-black-webfont.eot");
  src: url("/lato/lato-black-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-black-webfont.woff2") format("woff2"),
       url("/lato/lato-black-webfont.woff") format("woff"),
       url("/lato/lato-black-webfont.ttf") format("truetype"),
       url("/lato/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-blackitalic-webfont.eot");
  src: url("/lato/lato-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-blackitalic-webfont.woff2") format("woff2"),
       url("/lato/lato-blackitalic-webfont.woff") format("woff"),
       url("/lato/lato-blackitalic-webfont.ttf") format("truetype"),
       url("/lato/lato-blackitalic-webfont.svg#latoblack_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-bold-webfont.eot");
  src: url("/lato/lato-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-bold-webfont.woff2") format("woff2"),
       url("/lato/lato-bold-webfont.woff") format("woff"),
       url("/lato/lato-bold-webfont.ttf") format("truetype"),
       url("/lato/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-bolditalic-webfont.eot");
  src: url("/lato/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-bolditalic-webfont.woff2") format("woff2"),
       url("/lato/lato-bolditalic-webfont.woff") format("woff"),
       url("/lato/lato-bolditalic-webfont.ttf") format("truetype"),
       url("/lato/lato-bolditalic-webfont.svg#latobold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-hairline-webfont.eot");
  src: url("/lato/lato-hairline-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-hairline-webfont.woff2") format("woff2"),
       url("/lato/lato-hairline-webfont.woff") format("woff"),
       url("/lato/lato-hairline-webfont.ttf") format("truetype"),
       url("/lato/lato-hairline-webfont.svg#latohairline") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-hairlineitalic-webfont.eot");
  src: url("/lato/lato-hairlineitalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-hairlineitalic-webfont.woff2") format("woff2"),
       url("/lato/lato-hairlineitalic-webfont.woff") format("woff"),
       url("/lato/lato-hairlineitalic-webfont.ttf") format("truetype"),
       url("/lato/lato-hairlineitalic-webfont.svg#latohairline_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-italic-webfont.eot");
  src: url("/lato/lato-italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-italic-webfont.woff2") format("woff2"),
       url("/lato/lato-italic-webfont.woff") format("woff"),
       url("/lato/lato-italic-webfont.ttf") format("truetype"),
       url("/lato/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-light-webfont.eot");
  src: url("/lato/lato-light-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-light-webfont.woff2") format("woff2"),
       url("/lato/lato-light-webfont.woff") format("woff"),
       url("/lato/lato-light-webfont.ttf") format("truetype"),
       url("/lato/lato-light-webfont.svg#latolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-lightitalic-webfont.eot");
  src: url("/lato/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-lightitalic-webfont.woff2") format("woff2"),
       url("/lato/lato-lightitalic-webfont.woff") format("woff"),
       url("/lato/lato-lightitalic-webfont.ttf") format("truetype"),
       url("/lato/lato-lightitalic-webfont.svg#latolight_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/lato/lato-regular-webfont.eot");
  src: url("/lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("/lato/lato-regular-webfont.woff2") format("woff2"),
       url("/lato/lato-regular-webfont.woff") format("woff"),
       url("/lato/lato-regular-webfont.ttf") format("truetype"),
       url("/lato/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

/*
 *  Droid Sans Mono font
 */

@font-face {
  font-family: "Droid Sans Mono";
  src: url("/droid-sans-mono/droidsansmono-webfont.eot");
  src: url("/droid-sans-mono/droidsansmono-webfont.eot?#iefix") format("embedded-opentype"),
       url("/droid-sans-mono/droidsansmono-webfont.woff2") format("woff2"),
       url("/droid-sans-mono/droidsansmono-webfont.woff") format("woff"),
       url("/droid-sans-mono/droidsansmono-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
 *  Global constants
 */

$color: #333;
$color-light: #888;
$color-muted: #aaa;
$color-anchor: #ac498f;
$color-anchor-hover: #c23b00;
$color-selection: #ffa0fa;
$color-light-background: #f3f3f3;
$input-height: 36px;
$separator-height: 2px;
$footer-height: $separator-height + 48px;
$stack-width: 768px; /* Taken from grid.css.scss */

/* Helper classes */

.clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none;
}

.muted {
  color: $color-muted;
}

.right {
  text-align: right;
}

.full-width {
  width: 100%;
  /* NOTE: home.js.coffee automatically makes YouTube videos full-width and preserves their aspect ratio */
}

/* Body */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.05em;
  text-align: justify;
  line-height: 1.5;
  color: $color;
}

#footer-fix-container {
  min-height: 100%;
  position: relative;
}

::selection {
  background: $color-selection; /* Safari */
}

::-moz-selection {
  background: $color-selection; /* Firefox */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  word-wrap: break-word;
}

/* Anchors */

a {
  color: $color-anchor;
  text-decoration: none;

  &:hover {
    color: $color-anchor-hover;
  }
}

a.tag {
  display: inline-block;
  padding: 0px 4px;
  background-color: $color-anchor;
  color: #fff;
  font-size: 0.8em;
  white-space: nowrap;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px;

  &:hover {
    background-color: $color-anchor-hover;
    text-decoration: none;
  }
}

/* Block-level elements */

.p, ul, ol, form, table {
  margin: 16px 0;
}

ul, ol {
  p, .p {
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 16px 0;
}

h2 {
  font-size: 1.8em;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 4px;

  a {
    color: inherit;
  }
}

h3 {
  font-size: 1.4em;
  margin-top: 48px;
}

h4 {
  font-size: 1em;
  margin-top: 32px;
}

code, pre, .monospace {
  font-family: "Droid Sans Mono", monospace;
  font-size: 0.9em;
}

code {
  white-space: pre-wrap;
  word-wrap: normal;
}

pre {
  margin: 16px 0;
  padding: 16px 24px;
  background-color: $color-light-background;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

blockquote {
  font-style: italic;
  border-left: 4px solid $color-light-background;
  padding-left: 20px;
  margin: 0;
  color: $color-light;
}

.notice, .error {
  padding: 16px 24px;
  background-color: #f3f3f3;
  margin: 32px 0;

  .close-container {
    float: right;

    a {
      color: inherit;

      &:hover {
        color: $color-anchor-hover;
      }
    }
  }
}

ul {
  list-style-type: square;
}

ul, ol {
  padding-left: 25px;
}

label {
  cursor: pointer;
}

ul.pagination {
  $page-link-width:  36px;
  $page-link-height: 32px;

  padding: 0;
  margin: 24px auto;
  max-width: 100%;

  li {
    display: block;
    width: $page-link-width;
    height: $page-link-height;
    float: left;
    text-align: center;
    margin: 8px 2px 8px 0;
    background-color: #f3f3f3;

    &:last-child {
      margin-right: 0;
    }

    &.disabled a, &.disabled span {
      color: #999;
    }

    &.active a, &.active span {
      color: #999;
    }

    a, span {
      display: block;
      width: $page-link-width;
      height: $page-link-height;
      line-height: $page-link-height;
    }
  }
}

/* Inline elements */

strong {
  font-weight: 600;
}

.article {
  .p {
    img, video {
      display: inline-block;
      vertical-align: middle;
      border-width: 0;
      width: 100%;
    }
  }
}

iframe {
  border: none;
}

input[type=submit], input[type=text], input[type=password], textarea, .button-link {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

input[type=text], input[type=password], textarea {
  border: 1px solid #ddd;
  padding: 7px 10px;
  color: inherit;
  background-color: #fff;
}

input[type=submit], .button-link {
  border-style: none;
  padding: 0 16px;
  color: #fff;
  background-color: $color-anchor;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px;
  line-height: $input-height;

  &:hover {
    background-color: $color-anchor-hover;
    text-decoration: none;
    color: #fff;
  }
}

input, .button-link {
  height: $input-height;
  vertical-align: middle;
}

textarea {
  display: inline-block;
  resize: vertical;
}

textarea:focus, input:focus {
  outline: 0;
}

code {
  display: inline-block;
  padding: 0 4px;
  background-color: $color-light-background;
}

form {
  display: inline;
}

/* Header */

#header {
  $header-height: 48px;
  line-height: $header-height;
  background-color: #fafafa;
  color: #666;
  font-size: 0.85em;

  #title {
    @media (max-width: ($stack-width - 1)) {
      text-align: center;
    }

    h1 {
      font-size: inherit;
      font-weight: 400;
      text-transform: inherit;
      line-height: inherit;
      margin: 0;

      a {
        display: inline-block;
        color: inherit;
        &:hover {
          color: $color-anchor-hover;
          text-decoration: none;
        }

        &#title-link {
          &:hover {
            color: $color-anchor-hover;
          }
        }
      }
    }
  }

  #nav {
    text-align: right;

    @media (max-width: ($stack-width - 1)) {
      text-align: center;
    }

    a {
      display: inline-block;
      color: inherit;
      padding: 0 12px;
      position: relative;
      top: 0;
      left: 12px;

      @media (max-width: ($stack-width - 1)) {
        & {
          padding: 0 5px;
          left: 0px;
        }
      }

      &:hover, &.active {
        color: $color-anchor-hover;
        text-decoration: none;
      }
    }
  }
}

/* Separators */

div.page-separator {
  background-color: #f3f3f3;
  height: $separator-height;
}

div.post-separator {
  background-color: #f3f3f3;
  height: 2px;
}

/* Articles */

#content {
  padding-bottom: $footer-height;
  overflow-x: auto;

  .article {
    margin: 48px 0 48px 0;

    .MathJax_Display {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .post-date {
      margin-top: 4px;
      margin-bottom: 32px;
    }

    .previous-post {
      text-align: left;
    }

    .next-post {
      text-align: right;
    }

    .social-media-share {
      .social-media-link {
        display: inline-block;
        height: 20px !important;
        line-height: 20px;
        vertical-align: middle;
      }
    }

    @media (max-width: ($stack-width - 1)) {
      .previous-post, .next-post {
        text-align: center;
      }
    }
  }
}

/* Footer */

#footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  color: $color-muted;
  text-align: center;
  background-color: #fafafa;
  font-size: 0.85em;

  #footer .p {
    line-height: $footer-height - $separator-height;
    margin: 0;
    position: relative;
    left: 0;
  }
}
